REACT_APP_FIREBASE_API_KEY = [Your api url]
REACT_APP_FIREBASE_AUTH_DOMAIN = [your auth domain]
REACT_APP_FIREBASE_PROJECT_ID = [Your project id]
REACT_APP_FIREBASE_STORAGE_BUCKET = [Your storage bucket]
REACT_APP_FIREBASE_MESSAGING_SENDER_ID =[Your messaging sender id]
REACT_APP_FIREBASE_APP_ID =[Your app id]]
REACT_APP_FIREBASE_MEASUREMENT_ID = [Your firebase measurement id]
REACT_APP_NODE_API_URL = [Node api url]
REACT_APP_FLASK_API_URL = [Flask api url]